{% extends 'base.html' %}

{% block title %}User Information{% endblock %}

{% block content %}

<br>

<div class="container">
  <h2 style="text-align: center;">Administration Users</h2><br>
  <div id="accordion"  class="d-flex justify-content-center my-3">
    <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      All Users
    </button>
    <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseTwo" aria-expanded="false"
      aria-controls="collapseTwo">
      Register New User
    </button>
    <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseThree" aria-expanded="false"
      aria-controls="collapseThree">
      Reset Password User
    </button>
    <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseFour" aria-expanded="false"
      aria-controls="collapseFour">
      Update User
    </button>
  </div>
  <br>
  <div class="collapse show" id="collapseExample" data-bs-parent="#accordion">
    <div class="card card-body">

      <div class="table-responsive" id="table-responsive">
        <div class="table" id="Users">
          <table id="tableUsers" class="display">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CORE-ID</th>
                <th>EMAIL</th>
                <th>PERMISSION</th>
                <th>ACTIVE</th>
                <th>USER-ID-GOOGLECHAT</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users[4:] %}
              <tr>
                <td>{{ user['ID'] }}</td>
                <td>{{ user['NAME'] }}</td>
                <td>{{ user['USERNAME'] }}</td>
                <td>{{ user['EMAIL'] }}</td>
                <td>{{ user['PERMISSION'] }}</td>
                {% if user['IS_ACTIVE'] == 'TRUE' %}
                <td><i class="fas fa-check-circle" style="color: #3ebd0f;"></i></td>
                {% else %}
                <td><i class="fas fa-ban" style="color: #8f1414;"></i></td>
                {% endif %}
                <td>{{ user['USER_ID'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseTwo" data-bs-parent="#accordion">
    <div class="card card-body">
      <form class="needs-validation" method="POST"
            action="{{url_for('admin_users') }}">
            <div class="mb-3">
              <label for="username" class="form-label">Core-ID:</label>
              <input type="text" class="form-control" id="username"
                name="username" maxlength="10" {% if username %}
                value="{{username}}" {% endif %} required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email"
                maxlength="25" readonly required value="@motorola.com">
            </div>
            <div class="mb-3">
              <label for="permission" class="form-label">Permission:</label>
              <select class="form-control" id="permission" name="permission"
                required>
                <option value="">Select</option>
                <option value="USER">User</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" name="name"
                maxlength="50" {% if (name) %} value="{{name}}" {% endif %}
                required>
            </div>
            <div class="mb-3">
              <label for="userid" class="form-label">User ID Google Chat:</label>
              <input type="number" class="form-control" id="userid"
                name="userid" maxlength="22" {% if user_id_google %}
                value="{{user_id_google}}" {% endif %} required>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
    </div>
  </div>
  <div class="collapse" id="collapseThree" data-bs-parent="#accordion">
    <div class="card card-body">
      <form method="POST" action="{{url_for('reset_password') }}">
        <div class="mb-3">
          <label for="userSelect" class="form-label">Select User:</label>
          <select class="form-control" id="userSelect" name="userSelect">
            <option value="">Select User</option>
            {% if users %}
            {% for user in users %}
            {% if (user['IS_ACTIVE'] == 'TRUE') %}
            <option value="{{ user['USERNAME'] }}">{{
              user['USERNAME']+'-'+user['NAME'] }}</option>
            {% endif %}
            {% endfor %}
            {% endif %}
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  <div class="collapse" id="collapseFour" data-bs-parent="#accordion">
    <div class="card card-body">
      <form class="needs-validation" action="{{url_for('admin_users') }}">
        <label for="userSelect" class="form-label">Select User:</label>
        <select class="form-control" id="userSelect_edit"
          name="userSelect_edit">
          <option value="">Select User</option>
          {% if users %}
          {% for user in users[4:] %}
          <option value="{{ user['USERNAME'] }}">{{
            user['USERNAME']+'-'+user['NAME'] }}</option>
          {% endfor %}
          {% endif %}
        </select>
        <br>
        <div class="mb-3">
          <label for="username" class="form-label">Core-ID:</label>
          <input type="text" class="form-control" id="username_edit"
            name="username_edit" maxlength="10" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email_edit"
            name="email_edit" maxlength="25" readonly required
            value="@motorola.com">
        </div>
        <div class="mb-3">
          <label for="permission" class="form-label">Permission:</label>
          <select class="form-control" id="permission_edit"
            name="permission_edit" required>
            <option value="">Select</option>
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input"
            id="is_active_edit" name="is_active_edit">
          <label class="form-check-label" for="is_active_edit">Is Active</label>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name_edit"
            name="name_edit" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label for="userid" class="form-label">User ID Google Chat:</label>
          <input type="number" class="form-control" id="userid_edit"
            name="userid_edit" maxlength="22" required>
        </div>
        <input type="hidden" name="_method" value="GET">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  // Obtém referências aos elementos do formulário
  var usernameInput = document.getElementById('username');
  var emailUsernameInput = document.getElementById('email');
  var usernameInput_edit = document.getElementById('username_edit');
  var emailUsernameInput_edit = document.getElementById('email_edit');
  // Adiciona um evento de digitação ao campo de nome de usuário
  usernameInput.addEventListener('input', function() {
      var username = usernameInput.value;
      var email = username + '@motorola.com';
      emailUsernameInput.value = email;
  });
  usernameInput_edit.addEventListener('input', function() {
      var username = usernameInput_edit.value;
      var email = username + '@motorola.com';
      emailUsernameInput_edit.value = email;
  });
</script>
<script>
        window.onload = function() {
            document.getElementById('loader-container').style.display = 'none';
        };
</script>

<script>
  document.getElementById("userSelect_edit").addEventListener("change", function() {
    // Obter o valor selecionado do select
    var selectedUsername = this.value;

    // Percorrer a lista de usuários para encontrar o usuário selecionado
    {% if users %}
    {% for user in users %}
    if ("{{ user['USERNAME'] }}" === selectedUsername) {
      // Atualizar os valores dos campos do formulário com as informações do usuário
      document.getElementById("username_edit").value = "{{ user['USERNAME'] }}";
      document.getElementById("email_edit").value = "{{ user['USERNAME'] }}@motorola.com";
      document.getElementById("permission_edit").value = "{{ user['PERMISSION'] }}";
      document.getElementById("is_active_edit").checked = {% if user['IS_ACTIVE']|lower == 'true' %}true{% else %}false{% endif %};
      document.getElementById("name_edit").value = "{{ user['NAME'] }}";
      document.getElementById("userid_edit").value = "{{ user['USER_ID'] }}";
    }
    {% endfor %}
    {% endif %}
    if (selectedUsername=== ""){
      document.getElementById("username_edit").value = "";
      document.getElementById("permission_edit").value = "";
      document.getElementById("is_active_edit").value = "";
      document.getElementById("name_edit").value = "";
      document.getElementById("userid_edit").value = "";
    }
  });
</script>
{% endblock %}