{% extends 'base.html' %}

{% block title %}History Transactions{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1 style="text-align: center;">User Transaction History: <strong>{{ user }}</strong></h1><br>
    <div id="accordion"  class="d-flex justify-content-center my-3">
        <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            All Transactions
        </button>
        <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Loans
        </button>
        <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Devolutions
        </button>
        <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Transfers
        </button>
    </div>
    <br>
    <div class="collapse show" id="collapseExample" data-bs-parent="#accordion">
        <div class="card card-body">
            <div class="table-responsive" id="table-responsive">
                <div class="table" id="allTransactions">
                    <table id="allHistoryTransaction" class="display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>DATE</th>
                                <th>ID_DEVICE</th>
                                <th>ACTION</th>
                                <th>COMMENTS</th>
                                <th>STORE_ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction['ID_TRANSACTION'] }}</td>
                                <td>{{ transaction['DATE'] }}</td>
                                <td>{{ transaction['ID'] }}</td>
                                <td>{{ transaction['ACTION'] }}</td>
                                <td>{{ transaction['COMMENTS'] }}</td>
                                <td>{{ transaction['STORE_ID'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseTwo" data-bs-parent="#accordion">
        <div class="card card-body">
            <div class="table" id="LoanTransactions">
                <table id="tableLoanTransaction" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>ID_DEVICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in loan_transactions %}
                        <tr>
                            <td>{{ transaction['ID_TRANSACTION'] }}</td>
                            <td>{{ transaction['DATE'] }}</td>
                            <td>{{ transaction['ID'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseThree" data-bs-parent="#accordion">
        <div class="card card-body">
            <div class="table" id="DevolutionTransactions">
                <table id="tableDevolutionTransaction" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>ID_DEVICE</th>
                            <th>STORE_ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in devolution_transactions %}
                        <tr>
                            <td>{{ transaction['ID_TRANSACTION'] }}</td>
                            <td>{{ transaction['DATE'] }}</td>
                            <td>{{ transaction['ID'] }}</td>
                            <td>{{ transaction['STORE_ID'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseFour" data-bs-parent="#accordion">
        <div class="card card-body">
            <div class="table" id="TransferTransactions">
                <table id="tableTransferTransaction" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>ACTION</th>
                            <th>ID DEVICE</th>
                            <th>COMMENTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transfer_transactions %}
                        <tr>
                            <td>{{ transaction['ID_TRANSACTION'] }}</td>
                            <td>{{ transaction['DATE'] }}</td>
                            <td>{{ transaction['ACTION'] }}</td>
                            <td>{{ transaction['ID'] }}</td>
                            <td>{{ transaction['COMMENTS'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

