{% extends 'base.html' %}

{% block title %}All Devices{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1 style="text-align: center;">List All Devices</h1><br>
        <div class="card card-body" id="mydevices">
            {% if devices %}
            <div class="table-responsive">
                <div class="table">
                    <table id="tableAllDevices">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Actions</th>
                                <th>User Loan</th>
                                <th>Device</th>
                                <th>Region</th>
                                <th>Track ID (Barcode)</th>
                                <th>HW type</th>
                                <th>HW version</th>
                                <th>CID</th>
                                <th>RAM</th>
                                <th>Market name</th>
                                <th>Alocation</th>
                                <th>SKU</th>
                                <th>Channel ID</th>
                                <th>SIM Card</th>
                                <th>CPU</th>
                                <th>Arcore sensor</th>
                                <th>Phasing</th>
                                <th>Back Camera Quantity</th>
                                <th>IMEI 1</th>
                                <th>IMEI 2</th>
                                <th>MAC Adress</th>
                                <th>MAC Cadastrado DTI</th>
                                <th>Comments</th>
                                <th>Last Action</th>
                                <th>Storage ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in devices %}
                            <tr>
                                <td>{{ device.ID }}</td>
                                <td style="text-align: center;">
                                    {% if device.Empréstimo == ''  %}
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loanModal{{ device.ID }}">
                                        Make Loan
                                    </button>
                                    <div class="modal fade" id="loanModal{{ device.ID }}" tabindex="-1" aria-labelledby="loanModalLabel{{ device.ID }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="loanModalLabel{{ device.ID }}">Confirm Device Loan</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{{ url_for('loan_device', device_id=device.ID) }}" method="GET">
                                                        <p>Are you sure you want to make a loan for this device?</p>
                                                        <button onclick="CallLoadScreen()" type="submit" class="btn btn-primary">Confirm</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="container text-center">
                                        <div class="row">
                                          <div class="col">
                                            {% if device.Empréstimo == current_user %}
                                            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#devolutionModal{{ device.ID }}">
                                                Devolution
                                            </button>
                                            <div class="modal fade" id="devolutionModal{{ device.ID }}" tabindex="-1" aria-labelledby="devolutionModalLabel{{ device.ID }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="devolutionModalLabel{{ device.ID }}">Confirm Device Devolution</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="{{
                                                                url_for('return_device',
                                                                device_id=device.ID)
                                                                }}">
                                                                <p  class="piscar" style="font-size:25px;"><strong>IMPORTANT!!</strong></p>
                                                                <p style="color: red; font-size:20px; font-weight: bold;"> Make sure the device has no passwords before <br> returning the device.<br> Perform the reset procedure. </p>
                                                                <p>Are you sure
                                                                    you
                                                                    want to
                                                                    perform
                                                                    the device
                                                                    devolution?</p>
                                                                <div
                                                                    class="mb-3">
                                                                    <label
                                                                        for="armario"
                                                                        class="col-form-label">Enter the drawer number where the device was stored:</label>
                                                                    <input
                                                                        type="number"
                                                                        class="form-control"
                                                                        id="armario"
                                                                        name="armario"
                                                                        pattern="[1-9]{0,3}"
                                                                        required
                                                                        title="Por
                                                                        favor,
                                                                        insira
                                                                        apenas
                                                                        números."
                                                                        oninput="limitarTamanho(this,3);this.value=
                                                                        this.value.replace(/[^1-9]/g,
                                                                        '')">
                                                                </div>
                                                                <button
                                                                    onclick="validateDevolutionForm()"
                                                                    type="submit"
                                                                    class="btn
                                                                    btn-primary">Confirm</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                          </div>
                                          <div class="col">
                                            {% if device.Empréstimo == current_user %}
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#transferModal{{ device.ID }}">
                                                Transfer
                                            </button>
                                            <div class="modal fade" id="transferModal{{ device.ID }}" tabindex="-1" aria-labelledby="transferModalLabel{{ device.ID }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="transferModalLabel{{ device.ID }}">Transfer Device</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form
                                                                    id="formTransferDevice"
                                                                    action="{{
                                                                    url_for('transfer_device',
                                                                    device_id=device.ID)
                                                                    }}"
                                                                    method="POST">
                                                                    <div
                                                                        class="mb-3">
                                                                        <label
                                                                            for="transfer_user"
                                                                            class="col-form-label">User
                                                                            Core-ID
                                                                            to
                                                                            transfer
                                                                            the
                                                                            device:</label>
                                                                            <select class="form-select form-select-lg" id="new_user" aria-label="Default select example" name="new_user" required>
                                                                                <option value="" selected>Select User Name - CoreID</option>
                                                                                    {% for user in users %}
                                                                                        {% if info_user[3] == "USER" %}
                                                                                        {% if user.USERNAME not in ["Amostra devolvida", "Bloqueado/Defeito", "Em analise para devolução", "Empréstimo interno Eldorado" ] and user.USERNAME != info_user[1]  %}
                                                                                                <option value="{{ user.NAME + '-' + user.USERNAME }}">{{ user.NAME + '-' + user.USERNAME }}</option>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                        {% if info_user[3] == "ADMIN" %}
                                                                                            {% if user.USERNAME != info_user[1]  %}
                                                                                                <option value="{{ user.NAME + '-' + user.USERNAME }}">{{ user.NAME + '-' + user.USERNAME }}</option>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                              </select>
                                                                        </div>
                                                                        <div
                                                                            class="form-group">
                                                                            <label
                                                                                for="comments"
                                                                                class="col-form-label">Comments:</label>
                                                                            <textarea
                                                                                class="form-control"
                                                                                id="comments"
                                                                                name="comments"
                                                                                maxlength="100"></textarea>
                                                                        </div>
                                                                        <br>
                                                                        <button
                                                                            onclick="validateTransferForm()"
                                                                            type="submit"
                                                                            class="btn
                                                                            btn-primary">Transfer</button>
                                                                    </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </td>
                                <td>{{ device.Empréstimo }}</td>
                                <td>{{ device.Device }}</td>
                                <td>{{ device.Region }}</td>
                                <td>{{ device['Track ID (Barcode)'] }}</td>
                                <td>{{ device['HW type'] }}</td>
                                <td>{{ device['HW version'] }}</td>
                                <td>{{ device.CID }}</td>
                                <td>{{ device.RAM }}</td>
                                <td>{{ device['Market name'] }}</td>
                                <td>{{ device['Alocação'] }}</td>
                                <td>{{ device.SKU }}</td>
                                <td>{{ device['Channel ID'] }}</td>
                                <td>{{ device['SIM Card'] }}</td>
                                <td>{{ device['CPU'] }}</td>
                                <td>{{ device['Arcore sensor'] }}</td>
                                <td>{{ device.Phasing }}</td>
                                <td>{{ device['Back Camera Quantity'] }}</td>
                                <td>{{ device['IMEI 1'] }}</td>
                                <td>{{ device['IMEI 2'] }}</td>
                                <td>{{ device['MAC Adress'] }}</td>
                                <td>{{ device['MAC Cadastrado DTI'] }}</td>
                                <td>{{ device.Comments }}</td>
                                <td>{{ device.Last_Action }}</td>
                                <td>{{ device['Storage ID'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                
            </div>
            {% else %}
            <p>No devices available at this time.</p>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock %}