{% extends 'base.html' %}

{% block title %}Transfer Device{% endblock %}

{% block content %}
    <div class="container">
        <h1>Transfer Device</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="new_user" class="form-label">Input User Core-ID to transfer the device:</label>
                <input type="text" class="form-control" list="datalistOptions" id="new_user" name="new_user" required>
                <datalist id="datalistOptions">
                    {% if users %}
                        {% for user in users[4:] %}
                            <option value= "{{ user[1]+'-'+user[6] }}">
                        {% endfor %}
                    {% endif %}
                </datalist>
                <div class="form-group">
                    <label for="comments" class="col-form-label">Comments:</label>
                    <textarea class="form-control" id="comments" name="comments" maxlength="100"></textarea> 
                </div>  
            </div>
            <br>
            <button onclick="validateTransferForm()" type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
    <script>
        window.onload = function() {
            document.getElementById('loader-container').style.display = 'none';
        };
    </script>
{% endblock %}